<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Log</title>
    <link
      href="
https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css
"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/chat.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container" id="heading">
      <h2 id="latest-travel">Latest Travel Experiences</h2>
    </div>
    <div class="container mb-4" id="main-container">
      <% posts.forEach(post => { %>
      <div
        class="card"
        style="width: 393px; height: 540px; border-radius: 1.5em"
      >
        <img src="<%= post.coverImageURL %>" class="card-img-top" alt="..." />
        <div class="card-body" style="padding: 2rem">
          <p class="date-and-place">
            <span class="place"> <%= post.location%> </span>
            <span class="date">/ <%= post.createdAt.toDateString()%></span>
          </p>

          <h5 class="card-title">
            <a href="/viewpost/<%= post._id %>"
              ><span class="jsx-1694330969"><%= post.title%></span></a
            >
          </h5>

          <p class="card-text" style="max-height: 4.5em; overflow: hidden">
            <%= post.description %>
          </p>
          <div class="btn-div">
            <a href="/viewpost/<%= post._id %>" id="see-more-btn"
              ><span>KEEP READING</span></a
            >
          </div>
        </div>
        <div style="position: absolute; bottom: 10px; right: 10px">
          <i class="bi bi-chat-left-fill"></i> <%= post.comments.length %> <% if
          (post && Array.isArray(post.likes) && locals.user && locals.user._id
          && post.likes.includes(locals.user._id)) { %>
          <i class="bi bi-suit-heart-fill" style="color: red"></i> <%=
          post.likes.length %> <% } else { %>
          <i class="bi bi-suit-heart-fill" style="color: black"></i> <%=
          post.likes.length %> <% } %>
        </div>
      </div>

      <% }) %>
    </div>

    <%- include('./partials/footer') %>

    
    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
